{% extends "layout.html" %}

{% block title %}
    Games
{% endblock %}

{% block main %}

    <h3>Games</h3>

    {% if not valid_account %}

        <a href="/login" class="btn btn-info" role="button">Login to play</a>

    {% endif %}

    <div class="grid-container">

        {% for game in games %}

            <div class = "grid-item">

                {% if valid_account %}

                    <a href="/{{ game.name|lower()|replace(' ', '-') }}"><h5>{{ game.name }}</h5></a>

                {% else %}

                    <h5>{{ game.name }}</h5>

                {% endif %}

                <p><b>The Scenario</b></p>

                <p><i>{{ game.description }} </i></p>

                <p>Players: {{ game.players }} </p>

            </div>

        {% endfor %}

    </div>

{% endblock %}



{% block footer %}

    {% if valid_account %}

        <a href="create-a-new-team" class="btn btn-info">Create a new team</a>

    {% endif %}

{% endblock %}
