{% extends "layout.html" %}

{% block title %}
    Games
{% endblock %}

{% block main %}

    <p><h3>Games</h3></p>

    {% for game in games %}

        {% if valid_account %}

            <a class="btn btn-default" onclick="window.location.href='/{{ game.name|lower()|replace(' ', '-') }}'">{{ game.name }}</a>
        {% else %}

            <b >{{ game.name }}</b>

        {% endif %}

        <p><h6><b>The Scenario</b></h6>

        <i>{{ game.description }} </i></p>

        <p><b>Players:</b> {{ game.players }} </p>

    {% endfor %}

    {% if not valid_account %}

        <a href="/login" class="btn btn-primary" role="button">Login to play</a>

    {% endif %}

{% endblock %}
