{% extends "layout.html" %}

{% block title %}
    {{ game_info.name }}
{% endblock %}

{% block main %}

    <h3>{{ game_info.name }}</h3>

    <p>
        <h5>The scenario</h5>

        <i>{{ game_info.description }}</i>

    </p>

    <p>
        <h5>The characters</h5></p>

        {% for character in characters%}

            <p>
                <p><b>{{ character.name }}</b></p>

                {{ character.description }}
            </p>

        {% endfor %}

        <p><i>Which of these people has a secret worth killing for?</i></p>
    </p>

{% endblock %}
