{% extends "layout.html" %}

{% block title %}
    {{ game_info.name }}
{% endblock %}

{% block main %}

    <h3>{{ game_info.name }}</h3>

    <p><h5>The Scenario</h5></p>

    <i>{{ game_info.description }}</i>

    <div class = "grid-container">

        <div class="grid-item">

            <div class = "characters">

                <p><h5>The Characters</h5></p>

                <p><i>Which of these people has a secret worth killing for?</i></p>

                <div class="grid-container">

                    {% for character in characters%}

                        <div class="grid-item">

                                <p>

                                    <p><b>{{ character.name }}</b></p>

                                    {{ character.description }}

                                </p>
                        </div>

                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

{% endblock %}
