{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <!-- Show all the teams in nice table -->
    {% if valid_teams > 0 %}

        <h3>Teams</h3>

        {% for team in team_list %}

            <p><a class="btn btn-outline-secondary" onclick="window.location.href='/{{ team.url }}'">{{ team.name }}</a></p>

        {% endfor %}



    {% endif %}

    <hr>

    <p><a href="create-a-new-team" class="btn btn-info">Create a new team</a></p>


    </div>
{% endblock %}
