{% extends "layout.html" %}

{% block title %}

        {% if r == 0 %}

            The Rules

        {% else %}

            Round: {{ r }}

        {% endif %}


{% endblock %}

{% block main %}

    {% for info in game_info %}

        {% if r == 0 %}

            {{ info.scenario|safe }}

        {% else %}

            <p><b>Scenario</b></p>

            <p>{{ info.scenario|safe }}</p>

            {% if info.facts != "0" %}

                <p><b>Fact</b></p>

                <p>{{ info.facts|safe }}</p>

            {% endif %}

            {% if info.secrets != "0" %}

                <p><b>Secret</b></p>

                <p>{{ info.secrets|safe }}</p>

            {% endif %}

            {% if info.clue != 0 %}

                <p><b>Clue</b></p>

                <img src="/static/img/sourgrapesofwrath/clues/{{ clue }}" alt="{{ clue }}">

            {% endif %}

            {% if r != 1 %}

            <a href="/{{ teamname_url }}/{{ r - 1 }}"> Go back to the previous round </a>

            {% elif r != max_rounds %}

                <a href="/{{ teamname_url }}/{{ r + 1 }}"> Go to the next round </a>

            {% endif %}

            <a href="/{{ teamname_url }}/0"> The Rules </a>

        {% endif %}

    {% endfor %}

{% endblock %}
