{% extends "layout.html" %}

{% block title %}

        Round: {{ r }}


{% endblock %}

{% block main %}

    {% for info in game_info %}

        <p><h3>Round: {{ r }}</h3></p>

        <div class= "grid-container">
            <div class = "round">

                <div class = "header">
                    <p><i>{{ info.scenario|safe }}</i></p>

                </div>
                <div class = "main">
                    {% if info.facts != "0" %}

                        <div><h5>Fact</h5></div>

                        <p>{{ info.facts|safe }}</p>

                    {% endif %}

                    {% if info.secrets != "0" %}

                    <p><div class="container">

                        <p><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#secret">Reveal secret</button></p>
                        <div id="secret" class="collapse">
                            <p>{{ info.secrets|safe }} </p>
                        </div>

                    </div></p>
                    {% endif %}

                    {% if info.clue != 0 %}

                    <div class="container">

                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#clue">You found a clue!</button>
                        <div id="clue" class="collapse">
                            <p> <img src="/static/img/sourgrapesofwrath/clues/{{ clue }}" alt="{{ clue }}"> </p>
                        </div>

                    </div>
                </div>

                {% endif %}
                <div class = "footer">

                    <p><a href="/{{ teamname_url }}" class="btn btn-info">{{ teamname }}</a></p>
                    <p><a href="/{{ teamname_url }}/rules" class="btn btn-info"> The Rules </a></p>

                    {% if r != 1 %}

                        <p><a href="/{{ teamname_url }}/{{ r - 1 }}"> Go back to the previous round </a></p>

                    {% endif %}

                    {% if r != max_rounds %}

                        <p><a href="/{{ teamname_url }}/{{ r + 1 }}"> Go to the next round</a></p>

                    {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}
