{% extends "layout.html" %}

{% block title %}
    Games
{% endblock %}

{% block main %}

    <p><h6><b>The Scenario</b></h6>

    One year ago, Robert Killingsworth bought the farm. Six months later, he was dead - leaving his widow, Elizabeth, to tend to their fledgling winery and vineyard on the outskirts of California's wine country. With mounting debts and no clue as to how to run a business, Elizabeth is desperate to sell the farm and recoup her losses. The fierce drought and shaky economy, however, have left the Killingsworth Farm on the market for far too long.

    One early autumn day, six people passed through the gates of Killingsworth Farm to see Elizabeth - one of them, a cold-blooded Killer...</p>

    <p><h6><b>Those Present at Killingsworth Farm</b></h6></p>

     <p>Michael Nightshade: This real estate developer from New York arrived unannounced with plans to buy Killingsworth Farm and develop it into a low-cost housing community. His boss ordered him to obtain the Killingsworth land at any price…</p>

     <p>Dr. Chelsea Barren: After suffering a nervous breakdown, this psychiatrist and best-selling author moved to Northern California to relax… but she moved next door to the Killingsworths instead.</p>

     <p>Vicki D'Adly: Elizabeth's estranged sister from New Jersey, she and her husband were traveling on vacation when Vicki decided to drop by Killingsworth Farm for a visit… a surprise visit.</p>

     <p>Norman D'Adly: A real estate broker from New Jersey and husband to Vicki, Norman is trying to salvage his job and his marriage while traveling across the country on vacation.</p>

     <p>Kathryn Lawless: Best friend to Elizabeth, this local librarian and historian has a flare for the eccentric. She lives down the road with her 15 cats and loves true crime - especially the mysterious, unsolved death of Robert Killingsworth</p>

     <p>Enrique Graves: This young drifter wandered onto Killingsworth Farm just as Robert and Elizabeth were moving in. Elizabeth took a liking to Enrique and he has lived on the farm ever since - tending to the fields… among other things.</p>

     <p>Which of these people has a secret worth killing for? Come to Killingsworth Farm and find out before it is too late!</p>


{% endblock %}