{% extends "layout.html" %}

{% block title %}

    {{ teamname }}

{% endblock %}

{% block main %}

    <p> The page of {{ teamname }}!! </p>

    {% if invite %}

        <a href="/{{ teamname_url }}/invite">Invite your friends!</a>

    {% else %}

        <!-- Display game when everyone is invited
        Characters assigned? Otherwise display assign list -->

        {% if team|length < 1 %}

            The characters still need to be assigned!

            {% if host %}

                <a href="/{{ teamname_url }}/choose-characters">Assign everyone a character!</a>

            {% else %}

               Ask your host to assign the characters.

            {% endif %}

        {% else %}

            {% for player in team %}

                <b><p>{{ player.username}}</p></b>

                <p>{{ player.name }}</p>

                <p>{{ player.description }}</p>

            {% endfor %}

            {% if current_round > 0 %}

                <a href="/{{ teamname_url }}/{{ current_round }}">Go to the current round: {{ current_round }}</a>

            {% else %}

                <a href="/{{ teamname_url }}/rules">The Rules</a>

            {% endif %}

        {% endif %}

    {% endif %}

{% endblock %}
