{% extends "layout.html" %}

{% block title %}

    {{ teamname }}

{% endblock %}

{% block main %}

    The page of {{ teamname }}!!

    {% if invite %}

        <a href="/{{ teamname_url }}/invite">Invite your friends!</a>

    {% else %}

        <!-- Display game when everyone is invited
        Characters assigned? Otherwise display assign list -->

        {% if team|length < 1 %}

            The characters still need to be assigned!

            {% if host %}

                <a href="/{{ teamname_url }}/choose-characters">Assign everyone a character!</a>

            {% else %}

               Ask your host to assign the characters.

            {% endif %}

        {% else %}

            {{ team }}

        {% endif %}

    {% endif %}


{% endblock %}
