{% extends "layout.html" %}

{% block title %}

    {{ teamname }}

{% endblock %}

{% block main %}

    <p><h3>{{ teamname }}</h3></p>

    {% if invite %}

        <a href="/{{ teamname_url }}/invite">Invite your friends!</a>

    {% else %}

        <!-- Display game when everyone is invited
        Characters assigned? Otherwise display assign list -->

        {% if team|length < 1 %}

            <p>The characters still need to be assigned!</p>

            {% if host %}

                <p><a href="/{{ teamname_url }}/choose-characters">Assign everyone a character!</a></p>

            {% else %}

               <p>Ask your host to assign the characters.</p>

            {% endif %}

        {% else %}
            <h5> The potential killers </h5>

                {% for player in team %}

                    <b><p>{{ player.username}}</p></b>

                    <p>{{ player.name }}</p>

                    <p>{{ player.description }}</p>

                {% endfor %}

            <div><h5> Rounds </h5>
            <p><i>Beware not to spoil it for yourself!</i></p>

            {% for round in range(max_rounds) %}

                <p><a href="/{{ teamname_url }}/{{ round + 1 }}">Round {{ round + 1 }}</a></p></div>

            {% endfor %}

                <div><p><a href="/{{ teamname_url }}/rules">The Rules</a></p></div>

        {% endif %}

    {% endif %}

{% endblock %}
